{% extends "layouts/base.html.twig" %}

{% block title %}New User{% endblock %}

{% block body %}

    <div>
        <h1>Creation utilisateur</h1>
        <div>
            {{ include('layouts/partials/_form.html.twig', {'submitBottomText': 'Créer'}) }}
        </div>
        
    </div>
    

{% endblock %}