{% extends "layouts/base.html.twig" %}

{% block title %}New User{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
    <div>
        <h1>Creation utilisateur</h1>
        <div>
            {{ include('layouts/partials/_form.html.twig', {'submitBottomText': 'Créer'}) }}
        </div>
        
    </div>
    {% else %}
        <p>Vous n'avez pas l'autorisation de creéer un profil !</p>
    {% endif %}    

    <a href="{{ path('app_home') }}" class="btn btn-primary">Accueil</a>

{% endblock %}