{% extends "layouts/base.html.twig" %}

{% block title %}modifications{% endblock %}

{% block body %}

    <div class="d-flex flex-column">
        <div>
            <h2><a href="{{ path('app_add_competences') }}" class="btn btn-primary">Competences</a></h2>
        </div>
        <div>
            <h2>Catégories</h2>
            <a href="#" class="btn btn-primary">ajouter une catégorie</a>
            <a href="" class="btn btn-danger">modifier une catégorie</a>
        </div>
        <div>
            <h2>Entreprises</h2>
            <a href="#" class="btn btn-primary">ajouter une entreprise</a>
            <a href="" class="btn btn-danger">modifier une entreprise</a>
        </div>
        
    </div>
    

{% endblock %}