{% extends "layouts/base.html.twig" %}

{% block title %}modifications{% endblock %}

{% block body %}

    <div class="d-flex flex-column">
        <a href="#">Compétences</a>
        <a href="#">Catégories</a>
        <a href="#">Entreprises</a>
    </div>
    

{% endblock %}