body, html {
    height: 100%;
    width: 100vw;
}

li {
    list-style-type: none;
    color: #0d6efd;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.containerExperience {
    height: 46vh;
    width: 70vw;
    overflow: scroll;
}

.utilisateur {
    height: 50vh;
    width: 30%;
}

main {
    max-width: 100%;
    width: 100%;
    height: 80%;
}

form {
    width: 70%;
}

.competences {
    height: 35%;
    overflow: scroll;
}

.navigation {
    width: 20%;
}

.mainContainer {
    max-width: 100%;
}

.informations {
    width: 100%;
    height: 75vh;
}

.user-comp {
    height: 78%;
}
.containerExperience, 
.competences,
.coordonnees {
    border: 2px solid black;
}

hr {
    border-top: 2px solid black;
    background-color: black;
}

.item-modifications,
.item-comp,
.item-ent,
.item-cat {
    display: none;
}

.list-modif:hover .item-modifications
 {
    display: block;
}

.list-comp:hover .item-comp,
.list-ent:hover .item-ent,
.list-cat:hover .item-cat {
    display: block;
}