<aside class='mx-0'>
    <h2><a href="{{ path('app_home') }}" class="tex-muted">Portail de compétences</a></h2>
    <ul>
        <li><a href="#">Se connecter</a></li>
        <li><a href="{{ path('app_user_create') }}">créer un profil</a></li>
    </ul>
</aside>
