{% extends "layouts/base.html.twig" %}

{% block body %}
    <h1>Liste des compétences</h1>
    {% for competence in competences %}
        <p class="d-flex">{{ competence.nomCompetence }}
            <a href="{{ path('app_delete_competence', {id: competence.id}) }}" class="btn btn-primary mx-2">supprimer</a>
            <a href="" class="btn btn-danger mx-2">modifier</a>
        </p>
    {% endfor %}
{% endblock %}