{% extends "layouts/base.html.twig" %}

{% block title %}New experience{% endblock %}

{% block body %}

    <div class="row">
        <h1>Creation Experience</h1>
        <div class="d-flex">
            {{ include('layouts/partials/_form.html.twig', {'submitBottomText': 'Ajouter'}) }}
        </div>
        
    </div>
    
{% endblock %}